<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../assets/img/brand/clinix-logo.png" class="navbar-brand-img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
      aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a>
              <img src=" ../../assets/img/brand/clinix-color-logo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default"
              aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item active">
          <a class="nav-link">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">Signup</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
